body {

    /*header*/
    header {
        width: 100%;
        height: auto;
        background-color: lightblue;
        margin: 0px;

        @media only screen and (max-width: 375px) {
            padding-bottom: 5%;
        }

        .header1 {
            width: 80%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: 375px) {
                flex-direction: column;
            }


            .logo {
                font-family: 'Dancing Script', cursive;
                width: 20%;
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media only screen and (max-width: 768px) {
                    width: 60%;
                }

                @media only screen and (max-width: 375px) {
                    width: 80%;
                }

                .logo_bg {
                    width: 15%;
                    height: 40px;
                }
            }

            .vers {
                width: 20%;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                    text-align: right;
                }

                @media only screen and (max-width: 375px) {
                    width: 100%;
                    text-align: center;
                }

                a {
                    background-color: #5CAFE7;
                    color: white;
                    padding: 10px 35px;
                    border-radius: 10px;
                    border-width: 0px;
                    text-decoration: none;
                }
            }
        }
    }

    /*fin de header*/

    /*section 1*/
    .section1 {
        width: 100%;
        height: 1000px;
        background-image: url(photos_page1/diapo/img1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;

        -webkit-animation-name-: diapo;
        -webkit-animation-duration-: 25s;
        -webkit-animation-timing-function-: linear;
        -webkit-animation-iteration-count-: infinite;
        -webkit-animation-direction-: normal;

        -moz-animation-name-: diapo;
        -moz-animation-duration-: 25s;
        -moz-animation-timing-function-: linear;
        -moz-animation-iteration-count-: infinite;
        -moz-animation-direction-: normal;

        animation-name: diapo;
        animation-duration: 25s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;

        @-webkit-keyframes diapo {
            0% {
                background-image: url(photos_page1/diapo/img1.jpg);
            }

            10% {
                background-image: url(photos_page1/diapo/img2.jpg);
            }

            20% {
                background-image: url(photos_page1/diapo/img3.jpg);
            }

            30% {
                background-image: url(photos_page1/diapo/img4.jpg);
            }

            40% {
                background-image: url(photos_page1/diapo/img5.jpg);
            }

            50% {
                background-image: url(photos_page1/diapo/img6.jpg);
            }

            60% {
                background-image: url(photos_page1/diapo/img7.jpg);
            }

            70% {
                background-image: url(photos_page1/diapo/img8.jpg);
            }

            80% {
                background-image: url(photos_page1/diapo/img9.jpg);
            }

            90% {
                background-image: url(photos_page1/diapo/img10.jpg);
            }
        }

        @-moz-keyframes diapo {
            0% {
                background-image: url(photos_page1/diapo/img1.jpg);
            }

            10% {
                background-image: url(photos_page1/diapo/img2.jpg);
            }

            20% {
                background-image: url(photos_page1/diapo/img3.jpg);
            }

            30% {
                background-image: url(photos_page1/diapo/img4.jpg);
            }

            40% {
                background-image: url(photos_page1/diapo/img5.jpg);
            }

            50% {
                background-image: url(photos_page1/diapo/img6.jpg);
            }

            60% {
                background-image: url(photos_page1/diapo/img7.jpg);
            }

            70% {
                background-image: url(photos_page1/diapo/img8.jpg);
            }

            80% {
                background-image: url(photos_page1/diapo/img9.jpg);
            }

            90% {
                background-image: url(photos_page1/diapo/img10.jpg);
            }
        }

        @keyframes diapo {
            0% {
                background-image: url(photos_page1/diapo/img1.jpg);
            }

            10% {
                background-image: url(photos_page1/diapo/img2.jpg);
            }

            20% {
                background-image: url(photos_page1/diapo/img3.jpg);
            }

            30% {
                background-image: url(photos_page1/diapo/img4.jpg);
            }

            40% {
                background-image: url(photos_page1/diapo/img5.jpg);
            }

            50% {
                background-image: url(photos_page1/diapo/img6.jpg);
            }

            60% {
                background-image: url(photos_page1/diapo/img7.jpg);
            }

            70% {
                background-image: url(photos_page1/diapo/img8.jpg);
            }

            80% {
                background-image: url(photos_page1/diapo/img9.jpg);
            }

            90% {
                background-image: url(photos_page1/diapo/img10.jpg);
            }
        }

        @media only screen and (max-width: 768px) {
            height: 500px;
        }

        @media only screen and (max-width: 375px) {
            height: 200px;
        }

        .titre {
            width: 100%;

            h1 {
                width: 80%;
                font-size: 48px;
                color: white;
                opacity: 1;
                margin: auto;
                padding-top: 10%;

                @media only screen and (max-width: 768px) {
                    font-size: 20.5px;
                }

                @media only screen and (max-width: 375px) {
                    width: 100%;
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }

    /*fin de section 1*/

    /*section 2*/
    .section2 {
        width: 80%;
        margin: auto;
        padding-bottom: 5%;

        .presentation {
            font-size: 25px;
            text-align: justify;
            padding-top: 5%;

            @media only screen and (max-width: 768px) {
                font-size: 15px;
            }

            @media only screen and (max-width: 375px) {
                font-size: 10px;
            }

            span {
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }

    /*fin de section 2*/

    /*section 3*/
    .section3 {
        width: 100%;
        height: 1250px;
        background-image: url(photos_page1/carte_bulgarie.png);
        background-repeat: no-repeat;
        background-size: cover;

        @media only screen and (max-width: 768px) {
            height: 500px;
        }

        @media only screen and (max-width: 375px) {
            height: 238px;
        }
    }

    /*fin de section 3*/

    /*section 4*/
    .section4 {
        width: 100%;
        padding-bottom: 5%;

        .plats {
            width: 80%;
            margin: auto;
            padding-top: 10%;
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 768px) {
                flex-wrap: wrap;
            }

            @media only screen and (max-width: 375px) {
                justify-content: center;
            }

            .plat1,
            .plat2,
            .plat3,
            .plat4 {
                text-align: center;

                img {
                    box-shadow: 10px 15px grey;
                    border-bottom-left-radius: 10%;
                    border-bottom-right-radius: 10%;
                    border-top-left-radius: 10%;
                }

                img:hover {
                    width: 300px;
                    height: 400px;
                }

            }
        }

        .bouton {
            width: 90%;
            padding-top: 5%;
            display: flex;
            justify-content: flex-end;

            a {
                background-color: #5CAFE7;
                color: white;
                padding: 10px 35px;
                border-radius: 10px;
                text-decoration: none;
            }
        }
    }

    /*fin de section 4*/

    /*footer*/
    footer {
        width: 100%;
        height: auto;
        background-color: lightblue;

        .footer1 {
            width: 80%;
            margin: auto;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width: 375px) {
                flex-direction: column-reverse;
            }

            .logo_footer {
                font-family: 'Dancing Script', cursive;
                width: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media only screen and (max-width: 768px) {
                    width: 40%;
                }

                @media only screen and (max-width: 375px) {
                    width: 80%;
                }

                img {
                    width: 15%;
                    height: 40px;
                }
            }

            .info {
                font-family: 'Courier New', Courier, monospace;
                display: flex;
                align-items: center;

                a {
                    color: white;
                    text-decoration: none;

                    @media only screen and (max-width: 375px) {
                        padding-top: 10%;
                    }
                }
            }
        }
    }

}




.container{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    margin-top: 10%;

    h1{
        font-size: 50px;
    }

    h3{
        font-size: 24px;
        color: white;
    }
}